@model FireAndExplosionHazards.BLL.Concrete.TRI.FlamLiq

<h2>Результаты:</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Коэффициент пропускания теплового излучения сквозь атмосферу", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            ψ = @Html.Label(Model.ψ().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            h = @Html.Label(Model.h().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            S = @Html.Label(Model.S().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            B = @Html.Label(Model.B().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            A = @Html.Label(Model.A().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Фактор облученности для горизонтальной площадки", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Fг = @Html.Label(Model.Fг().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Фактор облученности для вертикальной площадки", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Fв = @Html.Label(Model.Fв().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Угловой коэффициент излучения", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Fq = @Html.Label(Model.Fq().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Высота пламени", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            H = @Html.Label(Model.H().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Интенсивность теплового излучения", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            q = >@Html.Label(Model.q().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>
</div>