@model FireAndExplosionHazards.BLL.Concrete.OverpressCalcWithOut.OverpressCalcWithOut_FG

<h2>Результаты:</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Объем газа, который вышел из трубопровода после перекрытия", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            V2т = @Html.Label(@Model.V2т().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Объем газа, который вышел из трубопровода до перекрытия", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            V1т = @Html.Label(@Model.V1т().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Объем газа, который вышел из трубопроводов", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            Vт = @Html.Label(@Model.Vт().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Объем газа, который вышел из аппарата", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            Vа = @Html.Label(@Model.Vа().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Масса газа", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            m = @Html.Label(@Model.m().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Плотность пара", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            Pгп = @Html.Label(@Model.Pгп().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Коэффициент", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            K = @Html.Label(@Model.K().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Избыточного давления взрыва для горючих газов",
                    htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            ΔР = @Html.Label(@Model.ΔР().ToString())
        </div>
    </div>

    <div class=" form-group">
        <div class="col-md-12">
            @ViewBag.message
        </div>
    </div>
</div>