@model FireAndExplosionHazards.BLL.Concrete.FireLoad.FireLoad

<h2>Результаты:</h2>


<div class=" form-horizontal">
    <div class="form-group">
        @Html.Label("Величина пожарной нагрузки", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Q = @Html.Label(@Model.Q().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Удельная пожарная нагрузка составляет", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            g = @Html.Label(@Model.g().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>
</div>