@model FireAndExplosionHazards.BLL.Concrete.TRI.FireBall

<h2>Результаты:</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Коэффициент пропускания теплового излучения сквозь атмосферу", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            ψ = @Html.Label(Model.ψ().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Время существования 'огненного шара'", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            ts = @Html.Label(Model.ts().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Эффективный диаметр 'огненного шара'", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Ds = @Html.Label(Model.Ds().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Высота пламени", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            H = @Html.Label(Model.H().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Угловой коэффициент излучения", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Fq = @Html.Label(Model.Fq().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Интенсивность теплового излучения", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            q = >@Html.Label(Model.q().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>
</div>