@model FireAndExplosionHazards.BLL.Concrete.OverpressCalcWith.OverpressCalcWith_FG

<h2>Результаты:</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Объем газа, который вышел из трубопровода после перекрытия", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            V2т = @Html.Label(@Model.V2т().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Объем газа, который вышел из трубопровода до перекрытия", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            V1т = @Html.Label(@Model.V1т().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Объем газа, который вышел из трубопроводов", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            Vт = @Html.Label(@Model.Vт().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Масса газа", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            m = @Html.Label(@Model.m().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Стехиометрический коэффициент кислорода в реакции горения ", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            β = @Html.Label(@Model.β().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Cтехиометрическая концентрация паров ЛВЖ и ГЖ", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            Cct = @Html.Label(@Model.Cct().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Плотность пара", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            Pгп = @Html.Label(@Model.Pгп().ToString())
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Избыточного давления взрыва для паров легковоспламеняющихся и горючих жидкостей",
                    htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            ΔР = @Html.Label(@Model.ΔР().ToString())
        </div>
    </div>
</div>