@model IEnumerable<Garage.WebUI.Models.VehicleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Vehicles Info</h2>

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Drivers info", "Index", "Drivers")</li>
    <li class="active">@Html.ActionLink("Vehicles info", "Index", "Vehicles")</li>
</ul>

<br />

@using (Ajax.BeginForm("Search", FormMethod.Post, new AjaxOptions { UpdateTargetId = "list" }, new { @class = "form-inline", role = "form" }))
{
    <div class="col-md-3 col-md-offset-7">
        <input type="text" name="str" class="form-control" placeholder="search parameters" />
    </div>

    <div>
        <input type="submit" value="Search" class="btn btn-default">
    </div>
}

<br />


<table id="list" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add New Vehicle", "Create", null, new { @class = "btn btn-default" })
</p>
