@model FireAndExplosionHazards.BLL.Concrete.OCW.FlamLiq

<h2>Результаты:</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Давление насыщенного пара", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Pн = @Html.Label(Model.Pн().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Интенсивность испарения", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            W = @Html.Label(Model.W().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Масса жидкости", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            m = @Html.Label(Model.m().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Стехиометрический коэффициент кислорода в реакции горения", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            β = @Html.Label(Model.β().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Cтехиометрическая концентрация паров легковоспламеняющихся и горючих жидкостей", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Cct = @Html.Label(Model.Cct().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Плотность пара", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            Pгп = @Html.Label(Model.Pгп().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class="form-group">
        @Html.Label("Избыточного давления взрыва для паров легковоспламеняющихся и горючих жидкостей", htmlAttributes: new { @class = "control-label col-md-4" })
        <strong>
            ΔР = @Html.Label(Model.ΔР().ToString(), htmlAttributes: new { @class = "control-label" })
        </strong>
    </div>

    <div class=" form-group">
        <div class="col-md-12">
            @ViewBag.message
        </div>
    </div>
</div>